<div fxLayout="column" class="centercontent">
    <div>
        <img 
        src="./assets/images/project/writingtool/screenshot1.jpg" 
        alt="Screenshot"
        class="topimage">
    </div>
    <div>
        <button mat-raised-button (click)="routeToApp()">
            Go to App
        </button>
    </div>
</div>
<div class="container">
    <h3 class="centercontent">
        Use of timeline helps user maintain continuity in a story
    </h3>
    <p>
        The tool revolves around the use of the timeline. 
        By selecting an event, the user can describe changes to characters and what happens
        during events <br>
        Changes that happened in earlier events will be automatically applied to events that 
        follow, helping to prevent discontinuity in the story
    </p>
    <p>
        Events and characters are also separated into their own categories with search 
        functionality, which improves organization
    </p>
</div>