<div class="container">
    <p class="centercontent">
        <img class="topimage" src="./assets/images/generic/Cornell_University_seal.png">
    </p>
    <h3 class="centercontent">Hi! Nice to meet you.</h3>
    <p class="centercontent">
        My name is John Guo. I am a Junior studying Computer Science at Cornell University.
        My main interest is machine learning, especially natural language processing. <br><br>
        I have worked with technologies such as Tensorflow and created applications using
        Angular and .NET core. These applications were then deployed on the cloud using
        systems such as Docker and Pivotal Cloud Foundry.
    </p>
    <p class="centercontent">
        <a mat-raised-button href="./assets/documents/resume/resume.pdf" download="resume.pdf">
            Resume
        </a>
    </p>
</div>