<app-similaritydemo></app-similaritydemo>
<div class="container">
    <h3 class="centercontent">
        Determine if two sentences contradict
        each other using the power of artificial intelligence! 🤖
    </h3>
    <p class="centercontent">
        After you enter two sentences and press the arrow, 
        we send a request to a server running in the cloud. <br>
        This server loads the tokenizer needed to parse the 
        sentences into something the AI can understand. <br>
        The model's base comes from <a 
                                    href="http://huggingface.co" 
                                    target="_blank"
                                    rel="noopener noreferrer"
                                    >🤗 Transformers</a> ALBERT
        with a custom classification layer I made attached to it. <br>
        The model was trained using datasets from sources such as Stanford
        NLP
    

    </p>
</div>