
<div>
    <div fxLayout="row" fxLayoutGap="5px grid">
        <form 
        fxLayout="column" 
        fxFlex="43%" 
        name="similarity" 
        [formGroup]="dataForm">
            <mat-form-field appearance="fill">
                <mat-label>Sentence 1</mat-label>
                <input matInput type="text" formControlName="sent1" required>
                <mat-error *ngIf="sent1.invalid">{{errorMessage()}}</mat-error>
            </mat-form-field>
            <mat-form-field appearance="fill">
                <mat-label>Sentence 2</mat-label>
                <input matInput type="text" formControlName="sent2" required>
                <mat-error *ngIf="sent2.invalid">{{errorMessage()}}</mat-error>
            </mat-form-field>
        </form>
        <div fxFlex="10%" class="buttoncontainer">
            <div class="buttonwrap">
                <button mat-mini-fab (click)="process()">
                    <mat-icon>
                        keyboard_arrow_right
                    </mat-icon>
                </button>
            </div>
        </div>
        <div fxFlex="100%" class="responsecontainer">
            <mat-card *ngIf="response >= 0" class="responsewrap">
                <mat-card-title>
                    Result: {{roundedResult()}}%
                </mat-card-title>
                <mat-card-content *ngIf="response > 0.5">
                    The AI believes that the two sentences are consistent
                </mat-card-content>
                <mat-card-content *ngIf="response <= 0.5">
                    The AI believes that the two sentences contradict each other
                </mat-card-content>
            </mat-card>
            <mat-card *ngIf="response <= 0" class="responsewrap">
                <mat-card-title>
                    Please submit input
                </mat-card-title>
            </mat-card>
        </div>
    </div>
</div>
